@{
    ViewData["Title"] = "AboutUs";
    Layout = null;
}

<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="contenedor-principal-au">
    <div class="au-title">
        <h3>¿Quiénes somos?</h3>
    </div>
    <div class="au-subtitle">
        <h4>Una plataforma de difusión para los investigadores</h4>
    </div>
    <div class="contenedor-au-info">
        <div class="img-au-upqroo">
            <img src="~/css/image 32sa.png" alt="">
        </div>
        <div class="acercade">
            <h5>Acerca de nosotros</h5>
        </div>
        <div class="separator-line"></div>
        <div>
            <p>
                Bienvenido a ScireHub: Tu Centro de Conocimiento Innovador

                En ScireHub, nos dedicamos apasionadamente a la búsqueda constante de conocimiento, explorando las fronteras de la investigación para impulsar descubrimientos significativos. Somos una comunidad dinámica de mentes curiosas y apasionadas, unidas por la visión de crear un impacto positivo a través del poder transformador de la investigación.

                Nuestra Misión: Impulsar el Progreso a través de la Investigación

                En un mundo que evoluciona rápidamente, la investigación se convierte en el faro que guía el camino hacia el futuro. En ScireHub, nos comprometemos a fomentar un ambiente colaborativo que nutra la creatividad, la innovación y la excelencia académica. Nuestra misión es clara: avanzar en el conocimiento, desafiar las convenciones y contribuir de manera significativa al desarrollo de la sociedad.

                Valores que Nos Definen: Excelencia, Colaboración y Transparencia

                En el corazón de ScireHub yace un compromiso inquebrantable con la excelencia. Buscamos la calidad en cada investigación que llevamos a cabo, inspirándonos en estándares rigurosos para garantizar la validez y relevancia de nuestros hallazgos. La colaboración es otro pilar fundamental de nuestra filosofía; creemos en el poder de unir fuerzas, compartiendo ideas y perspectivas para alcanzar soluciones más completas y efectivas. Además, abrazamos la transparencia en cada paso de nuestro proceso de investigación, promoviendo la honestidad intelectual y la confianza en nuestra comunidad.

            </p>
        </div>
        <div class="separator-linef"></div>
        <div>
            <p>
                Nuestra Comunidad: Diversidad de Pensamiento y Compromiso Global
                En ScireHub, celebramos la diversidad de pensamiento como un motor vital para la innovación. A través de la inclusión de mentes brillantes de diversas disciplinas, culturas y perspectivas, construimos un ecosistema de investigación vibrante y enriquecedor. Nuestra influencia trasciende fronteras, comprometiéndonos con problemas globales y aportando soluciones a desafíos que impactan a la humanidad en su conjunto.
                Únete a Nosotros en el Viaje del Conocimiento
                ScireHub no es simplemente un centro de investigación; es un llamado a todos aquellos que buscan el desafío intelectual, la colaboración fructífera y el impacto duradero. Ya sea que seas un investigador experimentado, un estudiante entusiasta o simplemente alguien apasionado por el descubrimiento, te invitamos a unirte a nosotros en este emocionante viaje del conocimiento.
                Descubre. Colabora. Impacta. Bienvenido a ScireHub.
            </p>
        </div>
        <div>
            <h5>Explora el Conocimiento en Tiempo Real: Síguenos en Redes Sociales</h5>
            <h5>Únete a nuestra comunidad, comparte ideas y sé parte de conversaciones significativas que están dando forma al futuro.</h5>
            <h5>¡Descubre más, conecta más!</h5>
        </div>
        <div class="logo-container">
            <img src="~/css/energia-atomica.png" alt="">
            <div>
                ScireHub
            </div>
        </div>
    </div>
</div>