@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="contenedor-banner container-block">
    <div class="contenedor-item">
        <img class="atom-img" src="~/css/ciencia (1) 4.png" alt="">
        <h1 class="banner-title">
            APASIONADOS POR LA INVESTIGACIÓN
            <img class="banner-img" src="~/css/Img Hero.png" alt="">
        </h1>
    </div>
</div>
-->
<div class="banner container-fluid">
    <div class="contenido">
        <img src="~/css/ciencia (1) 4.png" alt="Icono" class="icono">
        <h1>Apasionados por la investigación</h1>
    </div>
</div>

<section class="contenedor-cards-footer">

    <div class="footer" style="width: 18rem;">
        <div class="footer-body">
            <h5 class="footer-title">Special title treatment</h5>
            <p class="footer-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card mb-3">
        <h5 class="card-title">¿Es Json lento?</h5>
        <img class="imgcard" src="/Images/ciencia.png" class="card-img-top" alt="...">
        <div class="card-body fondo-card">
            <p class="card-text">Descubre los secretos de la velocidad en el procesamiento de JSON en esta investigación. Aunque el formato es ágil, su rendimiento varía. Aprende cómo elegir bibliotecas eficientes, optimizar el código y explorar formatos alternativos puede marcar la diferencia. ¡Desata el potencial de tus operaciones con datos de manera más rápida y efectiva!  </p>
        </div>
    </div>

</section>

