@{
    ViewData["Title"] = "Home Page";
}
<div class="fondo">
<div class="hero container-fluid p-0 d-flex">
    <p class="text-white">Apasionados por la investigación</p>
</div>

<div class="">
  
</div>
</div>

    

