@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid p-0 d-flex">
        <img src="~/css/ciencia (1) 4.png" />
        <p>Apasionados por la investigación</p>
    <img class="w-100 h-100 m-0" src="~/css/Img Hero.png" />
    </div>
