@{
    ViewData["Title"] = "Investigadores";
    Layout = null;
}


<link rel="stylesheet" href="~/css/Invstigadores.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true" />

<div class="Contenedor-Principal">
    <div>
        <h2>Investigadores Destacados</h2>
    </div>
    <div class="cards-invs">
        <div class="contenedor-h3-button">
            <H3>Investigadores de Biotecnologia</H3>
            <button class="button-mas">Más...</button>
        </div>
        <div class="biotecnologia">
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/descarga.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Valentina Gómez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Experta en ingeniería genética, la Dra. Gómez ha desarrollado innovadoras técnicas de modificación genética para mejorar la resistencia de los cultivos a enfermedades.</p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Martín Sánchez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Investigador líder en la aplicación de biotecnología en la medicina, el Dr. Sánchez se centra en el desarrollo de terapias génicas para el tratamiento de enfermedades genéticas raras. </p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigadora2.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Camila Morales</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Investigadora líder en biotecnología farmacéutica, la Dra. Morales ha desarrollado terapias biológicas avanzadas para el tratamiento del cáncer. Su enfoque es muy innovador.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-h3-button">
            <H3>Investigadores de Terapia</H3>
            <button class="button-mas">Más...</button>
        </div>
        <div class="terapia">
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador3.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Sebastián Ramírez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Líder en investigación de rehabilitación neuromuscular, el Dr. Ramírez ha desarrollado métodos pioneros para mejorar la recuperación de lesiones cerebrales traumáticas. </p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador2.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Juan Pérez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Especializada en terapia física pediátrica, el Dr. Pérez ha dedicado su carrera a desarrollar programas de intervención temprana para niños con discapacidades motoras.  </p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigadora3.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Alejandra Torres</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Experta en terapia física acuática, la Dra. Torres ha demostrado los beneficios terapéuticos del ejercicio en el agua para pacientes con condiciones ortopédicas y neurológicas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-h3-button">
            <H3>Investigadores de Software</H3>
            <button class="button-mas">Más...</button>
        </div>
        <div class="software">
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador4.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Rodolfo Hernandez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Experto en inteligencia artificial aplicada a la salud, el Dr. Hernandez ha desarrollado algoritmos avanzados para el diagnóstico temprano de enfermedades a través de imágenes médicas. </p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigadora4.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Andrea López</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Pionera en realidad aumentada aplicada a la educación médica, la Dra. López ha creado plataformas interactivas que permiten a los estudiantes de medicina practicar procedimientos virtuales. </p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador5.webp" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Jose Antonio</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Investigador en algoritmos de aprendizaje automático para la predicción de enfermedades, el Dr. Antonio ha creado modelos que pueden anticipar riesgos de salud y ayudar en la prevención temprana.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-h3-button">
            <H3>Investigadores de Finanzas</H3>
            <button class="button-mas">Más...</button>
        </div>
        <div class="finanzas">
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigadora5.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Sofía Castro</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Economista y experta en mercados emergentes, la Dra. Castro ha investigado estrategias de inversión que fomentan el crecimiento económico en países en desarrollo.</p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigadora6.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Gabriela Jiménez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Especializada en tecnología financiera la Dra. Jimenez ha investigado innovaciones como blockchain y pagos digitales. Su trabajo ha contribuido a la evolución de sistemas financieros más eficientes y seguros.</p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigadora7.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Josefina Teodora</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Investigadora en economía del comportamiento, la Dra. Teodora ha examinado cómo las emociones y decisiones irracionales afectan las decisiones financieras. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-h3-button">
            <H3>Investigadores de Biomedica</H3>
            <button class="button-mas">Más...</button>
        </div>
        <div class="biomedica">
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador6.avif" Foto de perfil">
                    <div class="followdiv">
                        <h5>Guillermo Rodríguez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Experto en biología molecular y medicina regenerativa, el Dr. Rodriguez ha contribuido al desarrollo de terapias basadas en células madre para la reparación de tejidos dañados. </p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador7.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Felipe Flores</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Especializado en neurociencia, el Dr. Flores ha investigado a fondo la interfaz cerebro-máquina. Sus avances han llevado al desarrollo de dispositivos que mejoran la movilidad en pacientes con parálisis.</p>
                    </div>
                </div>
            </div>
            <div class="card-inv">
                <div class="contenido-inv">
                    <img id="fotoperfil" src="Imagenes/investigador8.jpg" alt="Foto de perfil">
                    <div class="followdiv">
                        <h5>Ricardo Martínez</h5>
                        <button class="follow"><img src="Imagenes/person-add.svg" alt=""></button>
                    </div>
                    <div class="descripcion-inv">
                        <p>Experto en ingeniería genética, el Dr. Martinez ha desarrollado innovadoras técnicas de modificación genética para mejorar la resistencia de los cultivos a enfermedades.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
