@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}

<div class="fondo2">
    <div class="contenedor-total2">
        <div class="contenedor-logo2">
            <img src="Imagenes/energia-atomica.png" alt="Logo">
            <div class="logo-text2">ScireHub</div>
        </div>
        <div class="contenedor-login2">
            <div class="title2">Iniciar sesión</div>
            <div class="form-item2">
                <label for="username2">Correo o usuario</label>
                <input type="text" id="username2" name="username" required>
            </div>
            <div class="form-item2">
                <label for="password2">Contraseña</label>
                <input type="password" id="password2" name="password" required>
            </div>
            <button class="login-btn2">Iniciar sesión</button>
            <div class="forgot-password2">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="separator-line2"></div>
            <div class="new-user2">
                <p>¿Eres nuevo?</p>
                <p class="create-account2">Crear una cuenta</p>
            </div>
        </div>
    </div>
</div>
