@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/ScireHub.styles.css" asp-append-version="true"/>

    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>