@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Registrarse.css" asp-append-version="true" />
<link rel="" href="~/js/Registrate.js" asp-append-version="true" />

<div class="login">
    <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-login" src="~/css/energia-atomica.png" alt=""><h1>ScireHub</h1></a>

    <form method="post">
        <table>
            <tr>
                <th>
                    <input type="email" name="u" placeholder="Correo electronico" required="required" />
                </th>
                <th> <input type="text" name="p" placeholder="Nombre" required="required" /> </th>
            </tr>
            <tr>
                <th> <input type="text" name="p" placeholder="Apellido Paterno" required="required" /> </th>
                <th> <input type="text" name="p" placeholder="Apellido Materno" required="required" /> </th>
            </tr>
            <tr>
                <th> <input type="text" name="p" placeholder="Usuario" required="required" /> </th>
                <th> <input type="password" name="p" placeholder="Contraseña" required="required" /> </th>
            </tr>
        </table>
        <a class="yatengocuenta" href="#">¿Ya tienes una cuenta?</a>
        <button type="submit" class="btn btn-primary btn-block btn-large">
            Crear cuenta
        </button>
    </form>
</div>
