body{
    margin: 0;
}

.fondo {
    background: linear-gradient(180deg, #285568 54%, #16323E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1700px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
    height: 92%;
}

.contenedor-logo {
    width: 600px;
    height: 200px;
    box-sizing: border-box;
}

.contenedor-login {
    width: 1500px;
    height: 75%;
    box-sizing: border-box;
}

.contenedor-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-top: 80px;
}

    .contenedor-logo img {
        width: 550px;
        height: 507px;
    }
    
    .contenedor-logo a{
        text-decoration: none;
    }

.contenedor-img img {
    width: 410px;
    height: 410px;
    border-radius: 25%;
}

.logo-text {
    font-size: 96px;
    color: #fff;
    margin-top: 10px;
    width: 500px;
    text-align: center;
    
}

    .logo-text a {
        text-decoration: none;
    }

.contenedor-login {
    position: relative; /* Agregamos posición relativa al contenedor-login */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    color: black;
    border-radius: 2%;
    height: 100%;
}

.contenedor-img {
    position: absolute;
    top: 110px;
    right: 20px;
    width: 40%; /* Puedes ajustar este valor según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos a la derecha */
    padding: 20px;
}

.title {
    color: black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.form-item {
    margin-bottom: 20px;
    width: 60%; /* Cambia el ancho de los input al 60% */
    margin-right: 40%; /* Agrega margen a la derecha para el espacio en blanco */
}

label {
    color: black;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
    width: 30%; /* Ajusta el ancho al 100% para ocupar el espacio disponible */
}

input {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #048ABF;
    font-size: 24px;
}

.login-btn,
.create-btn {
    background-color: #D98E04;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}

.login-btn:hover,
.create-btn:hover {
    background-color: #035AA6;
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

.new-user {
    text-align: center;
    color: black;
    width: 100%;
    font-size: 24px;
}

.custom-file-button {
    border-radius: 20px; /* o ajusta según tus preferencias */
    top: 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 440px;
    height: 70px;
    font-size: 30px;
    background-color: #048ABF;
    color: white;
}

.custom-file-button:hover {
    background-color: #D98E04;
}

.custom-file-button input {
    font-size: 80px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
::placeholder {
    color: #ffffffc2;
}