:root {
    --azulbg: #0C2430;
    --azulnavbar: #285568;
    --azulcard:#1C323D;
    --negro: #010800;
    --amarillo: #D98E04;
    --azulclaro: #4C8CA5;
    --azulverde: #559F9E;
    --blanco: white;
}
h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 80px;
    width: 750px;
    text-transform: uppercase;
    color: var(--blanco);
    padding-bottom: 30px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Barra de navegación*/
.navbar {
    padding: 0.1px;
    background-color: var(--azulnavbar);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    margin-right: 515px;
}

.botondecoration {
    text-decoration: underline;
}

.nav-item {
    color: #D9D9D9;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 9px;
}

.collapse a {
    color: #D9D9D9;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px;
    text-decoration: none;
}

.registrarse {
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    background-color: #4C8CA5;
    color: white;
    border: none;
    cursor: pointer;
}

/*utilidades*/
.marginbottom {
    margin-bottom:0;
}

.margin-right {
    margin-right: 270px
}

.margin-left {
    margin-left: 270px
}

.fondo {
    background-color: var(--azulbg);
}

.fondo-card{
    background-color: var(--azulcard);
}

h2 {
    color: #FFF;
    text-align: justify;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Hero*/

.container-body{
    width: 100%; 
    background-color: var(--azulbg);
    padding:0;
    margin: 0;
}

.banner {
    width: 100%;
    height: 680px;
    margin:0;
    background: linear-gradient(180deg, rgba(12, 36, 48, 0.00) 0%, #000 100%), url('Img Hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding:0;
}

.contenido {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0; /* Eliminar el relleno si lo hubiera */
    margin: 0; /* Eliminar los márgenes */
}

.icono {
    width: 229px; /* Ajusta el tamaño del icono según sea necesario */
    height: 241px;
    padding-bottom: 5px;
    margin: 0; /* Eliminar los márgenes */
}
/*grid de carreras*/

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 64px;
    margin-bottom: 64px;
    flex-wrap: nowrap;
}

.icono-carrera {
    text-align: center;
    margin-bottom: 23px; /* Espacio entre elementos */
    padding: 0 23px; /* Padding horizontal */
}

    .icono-carrera img {

        max-width: 100px; /* Ajusta el tamaño del icono según lo necesites */
    }

.nombre-carrera {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: -1px; /* Ajusta el espacio entre el ícono y el nombre */
    width: 168px;
}
/*Cards*/

/* Estilos para la tarjeta */
.card {
    width: 100%;
    height:610px;
    max-width: 1240px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: var(--azulcard);
    margin-bottom: 32px;
    margin-top: 4px;
}

.image {
    position: relative;
}

    .image img {
        width: 100%;
        height: 300px;
    }

.title {
    position: absolute;
    bottom: 8px; /* Alinea el título hacia abajo */
    left: 8px; /* Alinea el título hacia la izquierda */
    z-index: 1;
    color: white;
    font-weight: 700;
    margin-left:8px;
    font-size: 24px;
}

.image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0), black);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C323D;
    color: white;
    width: 913px;
    margin-left: 8px;
    margin-top: 52px;
    margin-bottom: 52px;
    font-size: 20px;
}

.contenedor-cards-footer{
    margin-left: 270px;
    margin-right: 270px;

}

/*-------------Login--------------*/

.fondo1 {
    background: linear-gradient(180deg, #285568 54%, #16323E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-total {
    display: flex;
    width: 1376px + 48px; /* Suma de 688px + 688px */
    height: 664px;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.contenedor-logo1,
.contenedor-login1 {
    width: 688px;
    height: 664px;
    box-sizing: border-box;
}

.contenedor-logo1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

    .contenedor-logo1 img {
        width: 461px;
        height: 507px;
    }

a .logo-text1 {
    font-size: 96px;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
}

.contenedor-login1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineado a la izquierda */
    justify-content: space-between; /* Alineado al espacio entre los elementos */
    padding: 20px;
    box-sizing: border-box;
    background: white;
    color: black;
    border-radius: 2%;
}

.title1 {
    color: black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.form-item1 {
    margin-bottom: 20px;
    width: 100%; /* Ajuste para que el label ocupe todo el ancho */
}

label {
    color: black;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #048ABF;
    font-size: 24px;
}

.login-btn1 {
    background-color: #D98E04;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}

.create-btn1 {
    background-color: #035AA6;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}

    .login-btn1:hover,
    .create-btn1:hover {
        background-color: #035AA6;
    }

    .create-btn1:hover {
        background-color: #D98E04;
    }

.forgot-password1 {
    text-align: left;
    margin-top: 20px;
    color: #fff;
}

    .forgot-password1 a {
        color: #3B5998;
        text-decoration: underline;
    }

.separator-line1 {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
}

.new-user1 {
    text-align: center;
    color: black;
    width: 100%;
    font-size: 24px;
}

/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--negro);
    color: var(--blanco);
    height:100px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 1px; /* Espacio entre los elementos */
    color: var(--blanco);
    font-size: 16px;
    height: auto; /* Cambiado de 207px a auto */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.div1 {grid-area: 1 / 1 / 3 / 2;}
.div2 {grid-area: 1 / 2 / 3 / 3;}
.div3 {grid-area: 1 / 3 / 2 / 4;}
.div4 {grid-area: 1 / 4 / 2 / 5;}
.div5 {grid-area: 1 / 5 / 2 / 6;}
.div6 {grid-area: 2 / 3 / 3 / 6;}

.footer-container{
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Estilos adicionales para tu navbar */
}
