:root {
    --azulbg: #0C2430;
    --azulnavbar: #285568;
    --negro: #010800;
    --amarillo: #D98E04;
    --azulclaro: #4C8CA5;
    --azulverde: #559F9E;
    --blanco: white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-bg{
    background-color: var(--azulnavbar);
}

.logo-nav{
    margin-right: 515px;
}

.navbarcontenedor{
    margin-left: 270px;
    margin-right: 270px;
}

.botondecoration{
    text-decoration: underline;
}

.botonregistrar {
    border-radius: 25px;
    background: #4C8CA5;
}

.10px{
    padding: 10px
}

.herocontenedor {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 100%;
    margin: 0;
}

.herocontenedor img{
    height: 100%;
    padding: 100%;
    margin: 0;
}

.inicio{
    width: 100%;
    margin: 0, 0, 0, 0;
    background-color: var(--azulbg);
    padding: 0;
}

.marginbottom{
    margin-bottom; 0;
}

.fondo{
    background-color: var(--azulbg);
}

.hero {
    margin: 0;
    height: 648px;
    background-image: url('Img Hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

    .hero:before {
        content: "";
        width: 100%;
        height: 648px;
        top: 0;
        left: 0;

        background: linear-gradient(180deg, rgba(12, 36, 48, 0.00) 0%, #000 100%);
    }